#fact_btn {
  padding: 23px; 
  border-radius: 10%;
  margin-left: 32%;
  margin-top: 40px;
  font-weight: bold;
  background: #F08080;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

#fact_container {
  padding: 25px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #F08080; 
  margin-bottom: 40px;
}

.random_fact {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid black;
}

#logout_button {
  float: right;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#purpose {
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 20px;
}

#delete_button {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 35px;
}

#refresh_prompt {
  display: inline;
  font-size: 14px;
}

#fact_form {
  margin-bottom: 35px;
}

#fact_input {
  width: 250px;
  height: 55px;
}

.post_div {
  margin-bottom: 15px;
  border: 1px solid #F08080;
  padding: 5px;
}

.reply_text {
  font-size: 12px;
  margin-top: 10px;
}

.button_spacing {
  margin-left: 20px;
  margin-top: 7px;

.reply_button {
  margin-left: 20px;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}