nav {
    width: 100%;
    margin-top: 15px;
    height: 45px;
    background-image: url("/images/roses.jpg");
}

.nav_container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;  
}

.nav_container li {
    float: left;
    margin-left: 38px;
    margin-top: 10px;
}

.header {
    color: white;
    font-size: 40px;
    margin-left: 12%;
}

.nav_item {
    color: white;
    display: inline;
    font-weight: 600;
}

#content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page_title {
    background-image: url("/images/roses.jpg");
    min-height: 200px;
    display: flex;
    align-items: center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

