.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /*background-color:#990000;*/
    width: 100%;
}

.nav_item {
    color: white;
    display: inline;
}

#content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page_title {
    background-image: url("/images/roses.jpg");
    min-height: 200px;
    display: flex;
    align-items: center;
}

h1 {
    color: white;
    font-size: 40px;
    margin-left: 10%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.portrait {
    width: 32%;
    height: 273px;
    border-bottom: 20px;
}

.bold {
    font-weight: bold;

}

a {
    text-decoration: none;
}

.role {
    margin-bottom: 20px;
}

.club {
    height: 200px;
    margin-left: 70px;
}

#fact_btn {
    padding: 10px; 
    border-radius: 5%;
}

#header {
    text-align: center
}

.fact_styling {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid black;
}

.place {
    text-align: center;
}
