nav {
    width: 100%;
    margin-top: 15px;
    height: 45px;
    background-image: url("/images/roses.jpg");
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /*background-color:#990000;*/
    width: 100%;  
}

.nav li {
    float: left;
    margin-left: 38px;
    margin-top: 10px;
}

.header {
    color: white;
    font-size: 40px;
    margin-left: 12%;
}

.nav_item {
    color: white;
    display: inline;
    font-weight: 600;
}

#content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page_title {
    background-image: url("/images/roses.jpg");
    min-height: 200px;
    display: flex;
    align-items: center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.portrait {
    width: 32%;
    height: 273px;
    border-bottom: 20px;
}

.bold {
    font-weight: bold;

}

a {
    text-decoration: none;
}

.role {
    margin-bottom: 20px;
}

.club {
    height: 200px;
    margin-left: 70px;
}

#fact_btn {
    padding: 23px; 
    border-radius: 10%;
    margin-left: 32%;
    margin-top: 40px;
    font-weight: bold;
    background: #F08080;
    color: white;
    font-size: 16px;
}

#fact_container {
    padding: 25px;
    border-color: #F08080;
    text-align: center;
    font-weight: bold;
}

.fact_styling {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid black;
}

#vacation_header {
    text-align: center
}

.destination {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.tip {
    font-weight: 700;
    font-size: 12px;
}

.light {
    max-width: 30px;
}

.spacing {
    margin-bottom: 35px;
}